* {
        
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(6, 15, 139);
    font-family: 'calibri';
    text-align: justify;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 2px;
}


    

.grid-main {
    background-color: rgb(93, 103, 236);
    grid-column: 2;
    grid-row: 2;
    margin: 5px;
    padding: 25px;
}

.grid-data {
    background-color: black;
    color: white;
    display: grid;
    margin: 5px 15px;
    grid-template-columns: 1fr 3fr;
}


.grid-data label,
.grid-data input,
.grid-data select {
    margin: 5px;
    padding: 5px;
    line-height: 15px;
}

.grid-data button {
    background-color: gray;
    border-radius: 10px;
    color: white;
    margin: 5px 25%;
    padding: 15px;
}
.grid-data button:hover {
    background-color: rgb(31, 14, 177);
}



/*footer*/

.footer {
    background: black;
    color: rgb(130, 85, 235);
    font-size: 12px;
    padding: 20px 0;
    text-align: center ;
    padding-top: 20px;
}
.grid-header{
    background: black;
    color: rgb(130, 85, 235);
    font-size: 12px;
    padding: 20px 0;
    text-align: center ;
    padding-top: 20px;

}

@media screen and (max-width: 700px) {
    .grid-data {
        grid-template-columns: 1fr;
    }
}